table{
    width: 100%;
}

.edit{
    margin-right: 10px;
}

.edit > i{
    color:#3333fa;
}

.delete > i{
    color:#a51712;
} 

.table-header th {
    font-weight: bold;
    font-size: 20px;
    color:#0f0f0f;
}